* {
	box-sizing: border-box;
}
#yeah {
	float: right;
	font-weight: bold;
	font-size: 30px;

}
body {
	margin: 0;
	padding: 0;
	background-color: lightcoral;
}
#box {
	background-color: slategray;
	padding: 10px 10px 10px 10px;
	border: 3px solid black;
	margin: 40px;
	width: 200px;

}

}
.truered {
	color: red;
	font-style: italic;
	background-color: blue;
	text-align: center;

}

/*****Large Devices*****/
@media (min-width: 992px) {
	.truered {
		width: 450px;
		height: 100px;
	}


}

/*****Medium Devices*****/
@media (min-width: 768px) and (max-width: 991px) {
	div {
		width: 70%;
		height: 70%;
	}
	p {
		width: 50%;
		height: 50%;
	}

}

/*****Mobile Devices*****/
@media (max-width: 767px) {
	
}