
#yeah {
	float: right;
	font-weight: bold;
	font-size: 30px;

}
body {
	background-color: lightcoral;
}


.container {
    display: flex; 
}

.box {
    flex: 1; 
    margin: 10px; 
}

/*****Large Devices*****/
@media (min-width: 992px) {
	
	}


}

/*****Medium Devices*****/
@media (min-width: 768px) and (max-width: 991px) {
	

}

/*****Mobile Devices*****/
@media (max-width: 767px) {
	
}